html {
  font-family: 'Miriam Libre', sans-serif;
}

body {
  margin-left: 5em;
  margin-right: 5em;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-variant: small-caps;
}

li {
  text-align: center;
}

h2 {
  font-size: 1.75em;
  font-family: 'Montserrat', sans-serif;
  font-variant: small-caps;
  padding-left: 15px;
  padding-right: 15px;
  overflow-wrap: normal;
}

h3 {
  font-size: 1em;
  font-family: 'Arial Black';
  font-variant: small-caps;
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: normal;
}

.header {
  padding: 25px;
  font-size: 3em;
}

.page {
  padding-left: 25px;
  padding-right: 15px;
}

.body {
  padding-left: 25px;
  padding-right: 10px;
}

.aside {
  padding: 15px;
  margin: 15px;
  text-align: center;
  font-size: .75em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1.5px solid black;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 0px;
}

.footer {
  text-align: center;
  font-size: .8em;
  padding: 0px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
}